In [ ]:
from sklearn.datasets import fetch_openml
import pandas as pd
import sys
sys.path.append('..')  
from src.data_preprocessor import DataPreprocessor

print("Загрузка Titanic...")
titanic = fetch_openml('titanic', version=2, as_frame=True, parser='auto')['frame']
print(f"Shape: {titanic.shape}")
print("Пропуски:\n", titanic.isnull().mean().sort_values(ascending=False))

Загрузка Titanic...
Shape: (2201, 4)
Пропуски:
 Class    0.0
Age      0.0
Sex      0.0
class    0.0
dtype: float64

In [9]:
print("Типы колонок:")
print(titanic.dtypes.value_counts())
print("\nПервые 5 строк:")
titanic.head()

Типы колонок:
float64     3
category    1
Name: count, dtype: int64

Первые 5 строк:

    Class    Age    Sex class
0 -1.8700 -0.228  0.521    -1
1 -0.9230 -0.228 -1.920     1
2 -0.9230 -0.228 -1.920     1
3  0.9650 -0.228  0.521     1
4  0.0214 -0.228  0.521    -1

In [14]:
prep = DataPreprocessor(titanic)
df_clean = prep.fit_transform(threshold=0.5, method='std')
print(f" После обработки: {df_clean.shape}")
print(f"Удалено колонок: {prep.dropped_cols_}")
print("Лог:", prep.get_log())

 После обработки: (2201, 4)
Удалено колонок: []
Лог: ['Dropped cols (> 50.0% NaN): []', 'No categorical cols found', "Normalized 3 numeric cols with 'std'"]

In [15]:
print("Первые 5 строк после OHE + нормализации:")
df_clean.head()

Первые 5 строк после OHE + нормализации:

      Class      Age       Sex class
0 -1.867650 -0.22821  0.520957    -1
1 -0.921456 -0.22821 -1.918673     1
2 -0.921456 -0.22821 -1.918673     1
3  0.964938 -0.22821  0.520957     1
4  0.022141 -0.22821  0.520957    -1

In [17]:
test_df = titanic.sample(100, random_state=42)
df_test = prep.transform(test_df)
print(f"Transform работает: {df_test.shape == df_clean.shape}")
print("Колонки совпадают:", len(set(df_test.columns) & set(df_clean.columns)) == len(df_clean.columns))

Transform работает: False
Колонки совпадают: True

In [18]:
print("ФИНАЛЬНЫЕ РЕЗУЛЬТАТЫ:")
print(f"До:  {titanic.shape}")
print(f"После:{df_clean.shape}")
print(f"Новых OHE колонок: {len(prep.ohe_cols_)}")
print(f"Удалено: {len(prep.dropped_cols_)}")

ФИНАЛЬНЫЕ РЕЗУЛЬТАТЫ:
До:  (2201, 4)
После:(2201, 4)
Новых OHE колонок: 0
Удалено: 0